
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Definition of the design system. All colors, gradients, fonts, etc should be defined here. 
All colors MUST be HSL.
*/

@layer base {
  :root {
    --background: 35 31% 91%;
    --foreground: 76 22% 15%;

    --card: 0 0% 100%;
    --card-foreground: 76 22% 15%;

    --popover: 0 0% 100%;
    --popover-foreground: 76 22% 15%;

    --primary: 76 22% 15%;
    --primary-foreground: 35 31% 91%;

    --secondary: 35 31% 91%;
    --secondary-foreground: 76 22% 15%;

    --muted: 35 31% 91%;
    --muted-foreground: 73 15% 35%;

    --accent: 35 31% 91%;
    --accent-foreground: 76 22% 15%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 35 31% 87%;
    --input: 35 31% 87%;
    --ring: 76 22% 15%;

    --radius: 0.5rem;

    --sidebar-background: 35 31% 91%;
    --sidebar-foreground: 73 15% 35%;
    --sidebar-primary: 76 22% 15%;
    --sidebar-primary-foreground: 35 31% 91%;
    --sidebar-accent: 35 31% 87%;
    --sidebar-accent-foreground: 76 22% 15%;
    --sidebar-border: 35 31% 87%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }

  .dark {
    --background: 76 22% 15%;
    --foreground: 35 31% 91%;

    --card: 76 22% 15%;
    --card-foreground: 35 31% 91%;

    --popover: 76 22% 15%;
    --popover-foreground: 35 31% 91%;

    --primary: 35 31% 91%;
    --primary-foreground: 76 22% 15%;

    --secondary: 73 15% 35%;
    --secondary-foreground: 35 31% 91%;

    --muted: 73 15% 35%;
    --muted-foreground: 35 31% 85%;

    --accent: 73 15% 35%;
    --accent-foreground: 35 31% 91%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 73 15% 35%;
    --input: 73 15% 35%;
    --ring: 35 31% 87%;
    --sidebar-background: 76 22% 15%;
    --sidebar-foreground: 35 31% 87%;
    --sidebar-primary: 35 31% 91%;
    --sidebar-primary-foreground: 76 22% 15%;
    --sidebar-accent: 73 15% 35%;
    --sidebar-accent-foreground: 35 31% 87%;
    --sidebar-border: 73 15% 35%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}
